img { width: 200px;
    height: auto;
    display: inline-block;
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.search-bar {
  text-align: center;
  margin: 20px 0;
}

.search-bar input {
  padding: 8px;
  width: 250px;
  border: 2px solid #000;
  border-radius: 6px;
}

.search-bar button {
  background: #000;
  color: #f5f5dc;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  margin-left: 8px;
  cursor: pointer;
}

.search-bar button:hover {
  background: #333;
}
